body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.app {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

li {
  list-style: none;
  margin: 10px 0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
